
body {
  margin: 5px;
  font-family: 	Georgia;
  background-color: LightBlue;
}

.topnav {
  text-align: center;
   background-color: DimGrey;
}

.topnav a {
  color: black;
  text-align: center;
  padding: 12px 15px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  font-size: 30px;
}

    .Tabela
    {
        display: table;
        margin: auto;
        border: 1px solid black;
        border-collapse: collapse;
        table-layout: fixed;
        width: 390px;
    }

    .Zaglavlje
    {

        display: table-row;
        font-weight: bold;
        text-align: center;
        background-color: #ddd;
    }

    .Red
    {
        display: table-row;
        table-layout:fixed;
        background-color: white;
    }

    .Polje
    {
        font-weight:normal;
        display: table-cell;
        border: solid;
        border-width: thin;
        text-align: center;
        font-family: "Arial";
        font-size: 11pt;
    }
    .topnav {
      text-align: center;
    }

div.Red:hover {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

div.Zaglavlje:hover{
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
